# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**ZF6 TEAM PREDICT**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [2]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Libraries for data preparation and model building


# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

ModuleNotFoundError: No module named 'pandas'

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [5]:
df_test = pd.read_csv('df_test.csv')
df_train = pd.read_csv('df_train.csv')

## Merging Our Dataset

we concatinated the training dataset and the test dataset to form a single dataset and we will call it 'df_train_test' ,
this is because we want to apply any features and modification once before spliting them into
their respective dataset.

In [6]:
df_train_test = pd.concat([df_train, df_test])

## A Quick look into our Dataset

We want to have a look at the combined dataset to help us better understand our dataset

In [7]:
df_train_test.shape

(11683, 49)

We examine the number of rows and columns in the train dataset
The Training data has a total of 8763 rows and 48 columns

47 predictor variables
1 outcome variable "load_shortfall_3h"

In [8]:
df_train_test.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [9]:
df_train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11683 entries, 0 to 2919
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            11683 non-null  int64
 1   time                  11683 non-null  object
 2   Madrid_wind_speed     11683 non-null  float64
 3   Valencia_wind_deg     11683 non-null  object
 4   Bilbao_rain_1h        11683 non-null  float64
 5   Valencia_wind_speed   11683 non-null  float64
 6   Seville_humidity      11683 non-null  float64
 7   Madrid_humidity       11683 non-null  float64
 8   Bilbao_clouds_all     11683 non-null  float64
 9   Bilbao_wind_speed     11683 non-null  float64
 10  Seville_clouds_all    11683 non-null  float64
 11  Bilbao_wind_deg       11683 non-null  float64
 12  Barcelona_wind_speed  11683 non-null  float64
 13  Barcelona_wind_deg    11683 non-null  float64
 14  Madrid_clouds_all     11683 non-null  float64
 15  Seville_wind_speed    11683 non-null  float64
 16  Barcelona_rain_1h     11683 non-null  float64
 17  Seville_pressure      11683 non-null  object
 18  Seville_rain_1h       11683 non-null  float64
 19  Bilbao_snow_3h        11683 non-null  float64
 20  Barcelona_pressure    11683 non-null  float64
 21  Seville_rain_3h       11683 non-null  float64
 22  Madrid_rain_1h        11683 non-null  float64
 23  Barcelona_rain_3h     11683 non-null  float64
 24  Valencia_snow_3h      11683 non-null  float64
 25  Madrid_weather_id     11683 non-null  float64
 26  Barcelona_weather_id  11683 non-null  float64
 27  Bilbao_pressure       11683 non-null  float64
 28  Seville_weather_id    11683 non-null  float64
 29  Valencia_pressure     9161 non-null   float64
 30  Seville_temp_max      11683 non-null  float64
 31  Madrid_pressure       11683 non-null  float64
 32  Valencia_temp_max     11683 non-null  float64
 33  Valencia_temp         11683 non-null  float64
 34  Bilbao_weather_id     11683 non-null  float64
 35  Seville_temp          11683 non-null  float64
 36  Valencia_humidity     11683 non-null  float64
 37  Valencia_temp_min     11683 non-null  float64
 38  Barcelona_temp_max    11683 non-null  float64
 39  Madrid_temp_max       11683 non-null  float64
 40  Barcelona_temp        11683 non-null  float64
 41  Bilbao_temp_min       11683 non-null  float64
 42  Bilbao_temp           11683 non-null  float64
 43  Barcelona_temp_min    11683 non-null  float64
 44  Bilbao_temp_max       11683 non-null  float64
 45  Seville_temp_min      11683 non-null  float64
 46  Madrid_temp           11683 non-null  float64
 47  Madrid_temp_min       11683 non-null  float64
 48  load_shortfall_3h     8763 non-null   float64
dtypes: float64(45), int64(1), object(3)
memory usage: 4.5+ MB

It would help to know the datatype of values stored in each column

In [ ]:
train_df.dtypes

It was also observed that there are three non numeric columns in the dataset
- time
- Valencia_wind_deg
- Seville_pressure

The feature engineering section will touch on how these columns can be handled

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

We examine important statistics about the dataset to help us decide whether to remove entire columns or fill them up with likely values.

In [ ]:
# look at data statistics
# produce a sorted list of the dataframe columns

# This ensures that all the relevant information about a city can be seen at a glance
sorted_df_columns = train_df.columns.sort_values()

# show the summary statitics of the training data and round the values to 2 decimal places
# the resulting dataframe is transposed to give so that all column values can be seen at a glance
train_df[sorted_df_columns].describe().round(2).T

There is evidence of serious skew in the data of some of the columns They include the rain and snow columns for all the cities

A few of these are;

- `Barcelona_rain_1h`
- `Barcelona_rain_3h`
- `Bilbao_rain_1h`
- `Bilbao_snow_3h`
- `Madrid_rain_1h`

More than 75% of the values in these columns are 0

Next, we check the number of missing values in each column.

The valencia pressure column has a total of 2068 null values.

In [ ]:
train_df.isnull().sum()

We next investigate what percentage of the data is missing, this will help us decide weather to drop the column or replace the missing values in it.

In [ ]:
missing_percent = train_df['Valencia_pressure'].isnull().sum() * 100 / len(train_df)
print("missing percentage: " + str(round(missing_percent, 2)))

With `23.6%` of the values missing we will replace the missing values with the average `Valencia_pressure` readings for the month the missing value occurs

Next we observe how many unique rows we have in our data set. We would expect time to have 100% unique.

We will take a look further on how we decide to handle columns with very little variation

In [ ]:
missing_percent = train_df.nunique()* 100 / len(train_df)
missing_percent

In [ ]:
# plot relevant feature interactions

In [ ]:
# evaluate correlation

In [ ]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

## Handling Missing Values 
#we will now look at our dataset to check for missing or nulls, and we discorverd that, the column "Valencia_pressure "
has "2522" missing values. having a closer look at that column we found that most of values are very similar, so we dicided to fill in the column with the most frequent occuring value.

In [10]:
df_train_test.isnull().sum()

Unnamed: 0                 0
time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2522
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h       2920
dtype: int64

In [11]:
print(df_train_test['Valencia_pressure'].mode())
print(df_train_test['Valencia_pressure'].mean())
print(df_train_test['Valencia_pressure'].median())

0    1018.0
dtype: float64
1012.3466870428985
1015.0

Since pressure is likely to remain the same, we will use the mode to fill in the missing values in the 'Valencia_pressure' column.

In [12]:
df_train_test['Valencia_pressure'] = (df_train_test['Valencia_pressure']
                                      .fillna(df_train_test['Valencia_pressure']
                                      .mode()[0])
                                     )

## Engineering Existing Features ,"Seville_pressure" and "Valencia_wind_deg" Column

From our  exploration of the combined Dataset, we discorverd that there have been some column that has been stored as object and needs to be converted to either a float or an integer, so that it can be useful to the meachine learning model so  we will  proceed to  properly encoding these columns and with the appropriate datatype 

Below is a closer look at the columns that needs to be transformed

In [13]:
df_train_test[['time','Valencia_wind_deg','Seville_pressure']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11683 entries, 0 to 2919
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               11683 non-null  object
 1   Valencia_wind_deg  11683 non-null  object
 2   Seville_pressure   11683 non-null  object
dtypes: object(3)
memory usage: 365.1+ KB

In [14]:
df_train_test[['time','Valencia_wind_deg','Seville_pressure']].head()

                  time Valencia_wind_deg Seville_pressure
0  2015-01-01 03:00:00           level_5             sp25
1  2015-01-01 06:00:00          level_10             sp25
2  2015-01-01 09:00:00           level_9             sp25
3  2015-01-01 12:00:00           level_8             sp25
4  2015-01-01 15:00:00           level_7             sp25

In [15]:
df_train_test['Valencia_wind_deg'] = df_train_test['Valencia_wind_deg'].str.extract('(\d+)')
df_train_test['Valencia_wind_deg']

0        5
1       10
2        9
3        8
4        7
        ..
2915     9
2916     8
2917     6
2918     6
2919    10
Name: Valencia_wind_deg, Length: 11683, dtype: object

In [16]:
df_train_test['Valencia_wind_deg'] = pd.to_numeric(df_train_test['Valencia_wind_deg'])
df_train_test['Valencia_wind_deg']

0        5
1       10
2        9
3        8
4        7
        ..
2915     9
2916     8
2917     6
2918     6
2919    10
Name: Valencia_wind_deg, Length: 11683, dtype: int64

In [17]:
df_train_test['Seville_pressure'] = df_train_test['Seville_pressure'].str.extract('(\d+)')

df_train_test['Seville_pressure'] = pd.to_numeric(df_train_test['Seville_pressure'])
df_train_test['Seville_pressure']

0       25
1       25
2       25
3       25
4       25
        ..
2915    24
2916    24
2917    23
2918    23
2919    23
Name: Seville_pressure, Length: 11683, dtype: int64

## Engineering New Features(Year, Month, Time)

## Removing Noise

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [ ]:
# split data

In [ ]:
# create targets and features dataset

In [ ]:
# create one or more ML models

In [ ]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic